[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyqt5 = "*"
dls-backup-bl = {path = "."}
pexpect = "*"
dls-pmacanalyse = {path = "./../dls_pmacanalyse"}
dls-pmaclib = {editable = true,path = "./../dls_pmaclib"}
numpy = "*"
cothread = "*"
gitpython = "*"
