[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"

[packages]
pyqt5 = "*"
pexpect = "*"
dls-pmacanalyse = {editable = true,path = "./../dls_pmacanalyse"}
dls-pmaclib = {editable = true,path = "./../dls_pmaclib"}
numpy = "*"
cothread = "*"
gitpython = "*"
